.helper-page-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    word-wrap: break-word;
    overflow-wrap: break-word;
    hyphens: auto;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 26px;
}

.helper-list {
    list-style: none;
    padding: 0;
}

.link-item {
    margin-bottom: 30px;
}

.link-item a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px; /* Увеличен размер шрифта для ссылок */
    display: block;
    margin-bottom: 8px;
    transition: color 0.3s ease;
}

.link-item a:hover {
    color: #0056b3;
}

.link-description {
    font-size: 16px; /* Увеличен размер шрифта для описания */
    color: #555;
    margin-top: -5px;
}

/* Адаптивность для мобильных устройств */
@media (max-width: 600px) {
    .container {
        padding: 15px;
    }

    h1 {
        font-size: 22px;
    }

    .link-item a {
        font-size: 20px; /* Чуть меньше для телефонов */
    }

    .link-description {
        font-size: 14px;
    }
}
